.tableContainer {
    overflow-x: auto;
}

.table {
    background-color: #fff;
    border-bottom: 2px solid royalblue;
    border-collapse: collapse;
    border-top: 2px solid royalblue;
    font-size: 17px;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.table__caption {
    caption-side: bottom;
    font-weight: 700;
    margin-top: 10px;
}

.table__cell--header {
    padding: 20px ;
    background-color: hsl(225, 73%, 57%, 60%);
    color: #fff;
}

.table__cell {
    padding: 15px;
    border: 1px solid #eee;
}

.table__row:hover {
    background-color: hsl(225, 73%, 57%, 10%);
}